<script id="mod:toxic-swamp:lang:error" type="application/ld+json">
{
  "@context": {
    "displayModeInvalid": { "@id": "error:displayModeInvalid", "@container": "@language" }
  },
  "displayModeInvalid": {
    "en": "Display mode invalid! Expected one of 'full', 'compact', 'minimal' or 'hidden'.",
    "id": "Tampilan mode tidak sah! Salah satu yang diharapkan 'full', 'compact', 'minimal' atau 'hidden'."
  }
}
</script>
<script id="mod:toxic-swamp:lang:status" type="application/ld+json">
{
  "@context": {
    "waitingForNetwork": { "@id": "status:waitingForNetwork", "@container": "@language" },
    "waitingForServer": { "@id": "status:waitingForServer", "@container": "@language" },
    "newJob": { "@id": "status:newJob", "@container": "@language" },
    "solvedJob": { "@id": "status:solvedJob", "@container": "@language" },
    "poolAcceptedHash": { "@id": "status:poolAcceptedHash", "@container": "@language" },
    "error": { "@id": "status:error", "@container": "@language" }
  },
  "waitingForNetwork": {
    "en": "waiting for network",
    "id": "menenggu jaringan"
  },
  "waitingForServer": {
    "en": "waiting for server",
    "id": "menenggu server"
  },
  "newJob": {
    "en": "new job",
    "id": "kerjaan baru"
  },
  "solvedJob": {
    "en": "solved job",
    "id": "kerjaan dipecahkan"
  },
  "poolAcceptedHash": {
    "en": "pool accepted hash!",
    "id": "pool menerima hash!"
  },
  "error": {
    "en": "error",
    "id": "error"
  }
}
</script>
<script id="mod:toxic-swamp:lang:help" type="application/ld+json">
{
  "@context": {
    "activated": { "@id": "help:activated", "@container": "@language" },
    "deactivated": { "@id": "help:deactivated", "@container": "@language" },
    "powered": { "@id": "help:powered", "@container": "@language" },
    "unplugged": { "@id": "help:unplugged", "@container": "@language" },
    "paused": { "@id": "help:paused", "@container": "@language" },
    "resumed": { "@id": "help:resumed", "@container": "@language" },
    "disconnected": { "@id": "help:disconnected", "@container": "@language" },
    "restored": { "@id": "help:restored", "@container": "@language" },
    "activate": { "@id": "help:activate", "@container": "@language" },
    "override": { "@id": "help:override", "@container": "@language" },
    "economy": { "@id": "help:economy", "@container": "@language" },
    "hashpower": { "@id": "help:hashpower", "@container": "@language" },
    "hashes": { "@id": "help:hashes", "@container": "@language" },
    "unit": { "@id": "help:unit", "@container": "@language" }
  },
  "activated": {
    "en": "Miner activated…",
    "id": "Miner diaktifkan…"
  },
  "deactivated": {
    "en": "Miner deactivated…",
    "id": "Miner dinonaktifkan…"
  },
  "powered": {
    "en": "Device powered…",
    "id": "Perangkat daya terhubung…"
  },
  "unplugged": {
    "en": "Power unplugged…",
    "id": "Daya telah dicabut…"
  },
  "paused": {
    "en": "Mining paused…",
    "id": "Mining dijeda…"
  },
  "resumed": {
    "en": "Mining resumed…",
    "id": "Mining kembali…"
  },
  "disconnected": {
    "en": "Network disconnected…",
    "id": "Jaringan terputus…"
  },
  "restored": {
    "en": "Network restored…",
    "id": "Memulihkan jaringan…"
  },
  "activate": {
    "en": "Click to activate…",
    "id": "Klik untuk mengaktifkan…"
  },
  "override": {
    "en": "Click to override…",
    "id": "Klik untuk mengganti…"
  },
  "economy": {
    "en": "Saving battery…",
    "id": "Hemat baterai…"
  },
  "hashpower": {
    "en": "hash power…",
    "id": "hash daya…"
  },
  "hashes": {
    "en": "hashes",
    "id": "hashes"
  },
  "unit": {
    "en": "H/s",
    "id": "H/k"
  }
}
</script>
