<script id="mod:toxic-swamp:lang:error" type="application/ld+json">
{
  "@context": {
    "displayModeInvalid": { "@id": "error:displayModeInvalid", "@container": "@language" }
  },
  "displayModeInvalid": {
    "en": "Display mode invalid. Expected one of: 'full', 'compact', 'minimal' or 'hidden'.",
    "id": "Tampilan mode tidak sah. Salah satu yang diharapkan: 'full', 'compact', 'minimal' atau 'hidden'.",
    "ru": "Способ отображения не валиден. Ожидается один из следующих: 'full', 'compact', 'minimal' or 'hidden'.",
    "el": "Μη αποδεκτή λειτουργία απεικόνισης. Οι σωστές επιλογές είναι: 'full', 'compact', 'minimal' ή 'hidden'."
  }
}
</script>
<script id="mod:toxic-swamp:lang:status" type="application/ld+json">
{
  "@context": {
    "waitingForNetwork": { "@id": "status:waitingForNetwork", "@container": "@language" },
    "waitingForServer": { "@id": "status:waitingForServer", "@container": "@language" },
    "newJob": { "@id": "status:newJob", "@container": "@language" },
    "solvedJob": { "@id": "status:solvedJob", "@container": "@language" },
    "poolAcceptedHash": { "@id": "status:poolAcceptedHash", "@container": "@language" },
    "error": { "@id": "status:error", "@container": "@language" }
  },
  "waitingForNetwork": {
    "en": "waiting for network",
    "id": "menenggu untuk jaringan",
    "ru": "ожидание сети",
    "el": "Αναμονή Δικτύου"
  },
  "waitingForServer": {
    "en": "waiting for server",
    "id": "menenggu untuk server",
    "ru": "ожидание сервера",
    "el": "Αναμονή Εξυπηρετητή"
  },
  "newJob": {
    "en": "new job",
    "id": "pekerjaan baru",
    "ru": "новая работа",
    "el": "Νέο job"
  },
  "solvedJob": {
    "en": "solved job",
    "id": "pekerjaan diselesaikan",
    "ru": "решенная работа",
    "el": "To job επιλύθηκε"
  },
  "poolAcceptedHash": {
    "en": "Pool accepted hash!",
    "id": "Pool menerima hash!",
    "ru": "Пул принял хеш",
    "el": "To pool αποδέχτηκε το hash!"
  },
  "error": {
    "en": "error",
    "id": "error",
    "ru": "ошибка",
    "el": "Λάθος"
  }
}
</script>
<script id="mod:toxic-swamp:lang:help" type="application/ld+json">
{
  "@context": {
    "activated": { "@id": "help:activated", "@container": "@language" },
    "deactivated": { "@id": "help:deactivated", "@container": "@language" },
    "powered": { "@id": "help:powered", "@container": "@language" },
    "unplugged": { "@id": "help:unplugged", "@container": "@language" },
    "paused": { "@id": "help:paused", "@container": "@language" },
    "resumed": { "@id": "help:resumed", "@container": "@language" },
    "disconnected": { "@id": "help:disconnected", "@container": "@language" },
    "restored": { "@id": "help:restored", "@container": "@language" },
    "activate": { "@id": "help:activate", "@container": "@language" },
    "override": { "@id": "help:override", "@container": "@language" },
    "economy": { "@id": "help:economy", "@container": "@language" },
    "hashpower": { "@id": "help:hashpower", "@container": "@language" },
    "hashes": { "@id": "help:hashes", "@container": "@language" },
    "unit": { "@id": "help:unit", "@container": "@language" }
  },
  "activated": {
    "en": "Miner activated…",
    "id": "Penambang diaktifkan…",
    "ru": "Майнер активирован",
    "el": "Ο miner ενεργοποιήθηκε..."
  },
  "deactivated": {
    "en": "Miner deactivated…",
    "id": "Penambang dinonaktifkan…",
    "ru": "Майнер деактивирован",
    "el": "Ο miner απενεργοποιήθηκε..."
  },
  "powered": {
    "en": "Device powered…",
    "id": "Perangkat daya terhubung…",
    "ru": "Девайс запитан…",
    "el": "Τροφοδοσία συσκευής ενεργή"
  },
  "unplugged": {
    "en": "Power unplugged…",
    "id": "Daya telah dihapus…",
    "ru": "Питание отключено…",
    "el": "Εκτός τροφοδοσίας ρεύματος"
  },
  "paused": {
    "en": "Mining paused…",
    "id": "Pertambangan dijeda…",
    "ru": "Майнинг приостановлен…",
    "el": "Το mining τέθηκε σε παύση"
  },
  "resumed": {
    "en": "Mining resumed…",
    "id": "Pertambangan kembali…",
    "ru": "Майнинг возобновлен…",
    "el": "Το mining ξανάρχισε..."
  },
  "disconnected": {
    "en": "Network disconnected…",
    "id": "Jaringan terputus…",
    "ru": "Сеть отключена…",
    "el": "Το δίκτυο αποσυνδέθηκε"
  },
  "restored": {
    "en": "Network restored…",
    "id": "Memulihkan jaringan…",
    "ru": "Сеть восстановлена…",
    "el": "Το δίκτυο αποκαταστάθηκε"
  },
  "activate": {
    "en": "Click to activate…",
    "id": "Klik untuk mengaktifkan…",
    "ru": "Нажмите для активации…",
    "el": "Κλίκ για ενεργοποίηση"
  },
  "override": {
    "en": "Click to override…",
    "id": "Klik untuk mengganti…",
    "ru": "Нажмите чтобы переписать…",
    "el": "Κλίκ για παράκαμψη"
  },
  "economy": {
    "en": "Saving battery…",
    "id": "Hemat baterai…",
    "ru": "Энергосбережение…",
    "el": "Εξοικονόμηση ενέργειας..."
  },
  "hashpower": {
    "en": "hash power…",
    "id": "hash daya…",
    "ru": "Мощность хеша…",
    "el": "Πόροι που δεσμέυτηκαν για mining..." 
  },
  "hashes": {
    "en": "hashes",
    "id": "hash",
    "ru": "Хеши",
    "el": "hashes"
  },
  "unit": {
    "en": "H/s",
    "id": "H/k",
    "ru": "Х/с",
    "el": "H/δ"
  }
}
</script>
