<style>
  .inactive {
    /* TODO: handle offline, out of focus, explicitly disabled, not powered */
  }
  @keyframes activate {
    from {
      transform: translateX(1%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes pulsate {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.18); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.15); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
  }
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  .js-toolbar {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff2e8800;
    border-radius: 4px;
    transition: all 0.25s ease;
    display: none;
    margin-left: 20px;
  }
  .js-toolbar.-loaded {
    animation: intro 0.3s both;
    animation-delay: 0.15s;
  }
  .js-toolbar.-disclosed {
    background-color: #ff2e8880;
  }
  .js-toolbar:not(.-disclosed) button:not(.-active) {
    animation: spin 0.3s 5s 1 linear;
  }
  .js-toolbar.-disclosed .help-block.hash-count {
    animation: activate ease-in both reverse;
  }
  .js-toolbar .help-block:not(.hash-count) {
    opacity: 0;
    margin-left: 1rem;
  }
  @media screen and (max-width: 768px) {
    .js-toolbar {
      align-items: flex-end;
    }
    .js-toolbar .help-block:not(.hash-count) {
      margin-bottom: -5rem;
      margin-right: 3rem;
    }
  }
  .js-toolbar .help-block.hash-count {
    position: absolute;
    bottom: 7px;
    right: 0;
    padding: 8px;
    /* background-color: black; */
    border-radius: 4px;
    margin-bottom: -7px;
    padding-right: 50px;
  }
  .js-toolbar.-disclosed .help-block {
    animation: activate 0.3s 0.15s both;
  }
  .btn-controls {
    display: inline-block;
  }
  .btn-controls button[name="toggle"].btn.btn-ghost {
    line-height: 0;
    padding: 0.5rem;
    border: none;
  }
  .btn-controls button[name="toggle"]:focus::after {
    content: " " url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2032%2032'%20width='24'%20height='24'%20fill='currentcolor'%20stroke='fuchsia'%20stroke-linecap='round'%20stroke-linejoin='round'%20stroke-width='2'%3E%20%20%20%20%20%3Cpath%20d='M18%2013%20L26%202%208%2013%2014%2019%206%2030%2024%2019%20Z'%20/%3E%20%3C/svg%3E");
  }
  .btn-controls button[name="toggle"]::after {
    content: " " url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2032%2032'%20width='24'%20height='24'%20fill='currentcolor'%20stroke='lime'%20stroke-linecap='round'%20stroke-linejoin='round'%20stroke-width='2'%3E%20%20%20%20%20%3Cpath%20d='M18%2013%20L26%202%208%2013%2014%2019%206%2030%2024%2019%20Z'%20/%3E%20%3C/svg%3E");
  }
  .btn-controls button[name="toggle"].-active::after {
    content: " " url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2032%2032'%20width='24'%20height='24'%20fill='fuchsia'%20stroke='lime'%20stroke-linecap='round'%20stroke-linejoin='round'%20stroke-width='2'%3E%20%20%20%20%20%3Cpath%20d='M18%2013%20L26%202%208%2013%2014%2019%206%2030%2024%2019%20Z'%20/%3E%20%3C/svg%3E");
    filter: drop-shadow(0px 0px 5px #ff2e88) brightness(2) drop-shadow(0px 0px 5px #ff2e88) brightness(.7) drop-shadow(0px 0px 135px #ff9800) brightness(2);
    animation: pulsate 2s 5s linear infinite;
    transform-origin: 50% 50%;
  }
  .btn-controls button[name="toggle"].-active:focus::after {
    content: " " url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2032%2032'%20width='24'%20height='24'%20fill='fuchsia'%20stroke='lime'%20stroke-linecap='round'%20stroke-linejoin='round'%20stroke-width='2'%3E%20%20%20%20%20%3Cpath%20d='M18%2013%20L26%202%208%2013%2014%2019%206%2030%2024%2019%20Z'%20/%3E%20%3C/svg%3E");
    filter: drop-shadow(0px 0px 5px #ff2e88) brightness(2) drop-shadow(0px 0px 5px #ff2e88) brightness(.7) drop-shadow(0px 0px 135px #ff9800) brightness(2);
  }
</style>
