<script id="mod:toxic-swamp:lang:error" type="application/ld+json">
{
  "@context": {
    "displayModeInvalid": { "@id": "error:displayModeInvalid", "@container": "@language" }
  },
  "displayModeInvalid": {
    "en": "Display mode invalid! Expected one of 'full', 'compact', 'minimal' or 'hidden'."
  }
}
</script>
<script id="mod:toxic-swamp:lang:status" type="application/ld+json">
{
  "@context": {
    "waitingForNetwork": { "@id": "status:waitingForNetwork", "@container": "@language" },
    "waitingForServer": { "@id": "status:waitingForServer", "@container": "@language" },
    "newJob": { "@id": "status:newJob", "@container": "@language" },
    "solvedJob": { "@id": "status:solvedJob", "@container": "@language" },
    "poolAcceptedHash": { "@id": "status:poolAcceptedHash", "@container": "@language" },
    "error": { "@id": "status:error", "@container": "@language" }
  },
  "waitingForNetwork": {
    "en": "waiting for network"
  },
  "waitingForServer": {
    "en": "waiting for server"
  },
  "newJob": {
    "en": "new job"
  },
  "solvedJob": {
    "en": "solved job"
  },
  "poolAcceptedHash": {
    "en": "pool accepted hash!"
  },
  "error": {
    "en": "error"
  }
}
</script>
<script id="mod:toxic-swamp:lang:help" type="application/ld+json">
{
  "@context": {
    "activated": { "@id": "help:activated", "@container": "@language" },
    "deactivated": { "@id": "help:deactivated", "@container": "@language" },
    "powered": { "@id": "help:powered", "@container": "@language" },
    "unplugged": { "@id": "help:unplugged", "@container": "@language" },
    "paused": { "@id": "help:paused", "@container": "@language" },
    "resumed": { "@id": "help:resumed", "@container": "@language" },
    "disconnected": { "@id": "help:disconnected", "@container": "@language" },
    "restored": { "@id": "help:restored", "@container": "@language" },
    "activate": { "@id": "help:activate", "@container": "@language" },
    "override": { "@id": "help:override", "@container": "@language" },
    "economy": { "@id": "help:economy", "@container": "@language" },
    "hashpower": { "@id": "help:hashpower", "@container": "@language" },
    "hashes": { "@id": "help:hashes", "@container": "@language" },
    "unit": { "@id": "help:unit", "@container": "@language" }
  },
  "activated": {
    "en": "Miner activated…"
  },
  "deactivated": {
    "en": "Miner deactivated…"
  },
  "powered": {
    "en": "Device powered…"
  },
  "unplugged": {
    "en": "Power unplugged…"
  },
  "paused": {
    "en": "Mining paused…"
  },
  "resumed": {
    "en": "Mining resumed…"
  },
  "disconnected": {
    "en": "Network disconnected…"
  },
  "restored": {
    "en": "Network restored…"
  },
  "activate": {
    "en": "Click to activate…"
  },
  "override": {
    "en": "Click to override…"
  },
  "economy": {
    "en": "Saving battery…"
  },
  "hashpower": {
    "en": "hash power…"
  },
  "hashes": {
    "en": "hashes"
  },
  "unit": {
    "en": "H/s"
  }
}
</script>
